header {
}

header div.wrap{
  max-width: 1920px;
  padding: 30px 60px;
  position: absolute;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto 5% auto;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

header div.wrap ul.logo{
  
}

header div.wrap ul.logo li{
    background-image: url(../img/logo.svg);
  
    background-repeat: no-repeat;
}

header div.wrap ul.logo li a{
}

header div.wrap ul.logo li a img{

}
header ul.menu {
  font-size: 18px;
  font-weight: bold;
}
header ul.menu li {
  padding: 0 23px;
}
header ul.menu li a {
  color: white;
  
}
header ul.lang {
  font-size: 18px;
  font-weight: bold;
  grid-column: 4;
}
header ul.lang li {

  padding-left: 20px;
}
header ul.lang li a {
  color: white;
  font-weight: bold;
  font-size: 15px;
  
}

header ul.lang li a.en {
  color: #818085;
  font-weight: bold;
  font-size: 15px;
  
}
